name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"  # 每天 UTC 时间 0:00 运行
  workflow_dispatch:  # 允许手动触发

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: Generate snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: awu123-create
          outputs: dist/snake.svg?palette=github-dark
      
      - name: Push snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
